
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height:50px;
    background-color: lightcoral;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    padding-top:11px ;
    color:white;
}

li:hover {
    background-color: #ccc;
}
